<h1>hola mundo</h1>


<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="side">

    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Heroes List</span>
      </a>

      <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Add Heroe</span>
      </a>

      <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>search</mat-icon>
        <span>Search Heroe</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-button>
      Logout
    </button>
  </mat-toolbar>


  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
